@import './css/reset.css';

:root {
  --primary-color: #4d94fd;
  --accent-color: #ff4824;
  --black: #262a34;
  --dark-grey: #a3a3a3;
  --light-grey: #b8b8b8;
  --lightest-grey: #f1f2f2;
  --green-grey: #7c98a3;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: helvetica, sans-serif;
  color: var(--black);
  font-size: 1.4rem;
  line-height: 1.5;
}

.hidden {
  display: none;
}

.menutekst-actief {
  position: relative;
}

.menutekst-actief::before {
  content: '';
  background-color: #13a8a6;
  border-radius: 10%;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home {
  display: none;
}
