@import './css/reset.css';

:root {
  --rose: #cb6799;
  --light-rose: #ca7ba2;
  --black: #262a34;
  --white: #fff;
  --dark-rose: #b13372;
  --dark-red: #600;
  --green-bleu: #00c9b4;
  --light-bleu: #01edd4;
  --dark-grey: #a3a3a3;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: helvetica, sans-serif;
  color: var(--black);
  font-size: 1.4rem;
  line-height: 1.5;
}

.main {
  display: grid;
  grid-template-columns: 100vw;
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  font-family: 'Gill sans';
}

p {
  font-family: 'Avenir';
}

.site-header__titel {
  display: none;
}

.site-header__titelAfkort {
  font-family: 'Gill sans';
  font-size: 3.6rem;
  text-decoration-line: none;
  color: var(--white);
}

.site-header__top {
  background-color: var(--rose);
  color: var(--white);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
}

.site-header__date {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.site-header__menu {
  background-color: var(--dark-rose);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'programma praktisch faq';
  justify-items: center;
  padding: 1rem;
}

.site-header__menutekst {
  font-family: 'Avenir';
  text-decoration-line: none;
  color: var(--white);
}

.site-header__menutekst-actief {
  font-family: 'Avenir';
  position: relative;
  color: var(--white);
  text-decoration-line: underline;
}

.site-header__home {
  display: none;
}

.site-header__programma {
  grid-area: programma;
}

.site-header__praktisch {
  grid-area: praktisch;
}

.site-header__faq {
  grid-area: faq;
}

.wrapper__titel {
  font-size: 3rem;
  color: var(--white);
  padding-left: 1rem;
}

.wrapper__titel__behind {
  background-image: linear-gradient(rgb(203, 103, 153, 0) 55%, var(--rose) 45%);
}

.wrapper__image {
  position: relative;
  width: 100vw;
}

.wrapper__info {
  color: var(--white);
  position: absolute;
  z-index: 3;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
}

.wrapper {
  padding-bottom: 2.4rem;
}

.wrapper__date {
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 4rem;
}

.wrapper__date2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--green-bleu);
  clip-path: polygon(48% 100%, 0 0, 100% 0);
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.wrapper__dateN {
  font-weight: bold;
}

.gratis {
  margin-left: 4rem;
  position: absolute;
}

.wrapper__gratis {
  background-color: var(--rose);

  clip-path: polygon(57% 0, 15% 100%, 100% 100%);
  padding-left: 4rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 4rem;
}

.uitgelicht__info {
  display: grid;
  grid-template-columns: 2% auto 2%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    '. tile1 .'
    '. tile2 .'
    '. buttn .';
}

.uitgelicht {
  padding-top: 5rem;
}

.uitgelicht__tile-link {
  grid-area: tile1;
}

.uitgelicht__tile-link2 {
  grid-area: tile2;
}

.uitgelicht__tile-link3 {
  display: none;
}

.uitgelicht__titel2 {
  display: flex;
  justify-content: center;
}

.uitgelicht__titel,
.blik__titel {
  font-size: 2.5rem;
  background-image: url('./assets/img/deco_uit.png');
  background-repeat: no-repeat;
}

.uitgelicht__link {
  grid-area: buttn;
  text-decoration: none;
  font-size: 1.4rem;
  background-color: var(--green-bleu);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.uitgelicht__editie {
  color: var(--light-bleu);
}

.uitgelicht__editie2 {
  display: none;
}

.uitgelicht__meer {
  color: var(--black);
}

.wij {
  padding-top: 2.4rem;
  padding-left: 1rem;
}

.routes,
.vrijwilligers {
  padding-top: 2.4rem;
}

.routes__info,
.vrijwilligers__info {
  padding-left: 1rem;
}

.wij__ondertitel {
  font-size: 1.6rem;
  color: var(--dark-grey);
}

.wij__titel {
  font-size: 2.5rem;
  color: var(--rose);
}

.routes__titel,
.vrijwilligers__titel {
  font-size: 2.5rem;
}

.wij__tekst,
.routes__tekst,
.vrijwilligers__tekst {
  font-size: 1.6rem;
  padding-bottom: 2.4rem;
}

.wij__link,
.routes__link,
.vrijwilligers__link {
  font-size: 1.4rem;
  color: var(--dark-red);
  text-decoration: none;
}

.info__events__link {
  font-size: 1.1rem;
  color: var(--dark-red);
  text-decoration: none;
}

.acts__link {
  font-size: 1.4rem;
  color: var(--dark-red);
  text-decoration: none;
  padding-right: 1rem;
}

.acts__download {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.blik__titel2 {
  display: flex;
  justify-content: center;
  padding-top: 2.4rem;
}

.blik__deco {
  position: absolute;
}

.blik__slider {
  padding: 2.5rem;
  display: grid;
  overflow: scroll;
  grid-gap: 2rem;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(auto);
  grid-template-areas: 'baby wapper fiets vuur opelkaar vrouw zeplin lOnder rOnder';
}

.blik__slider-slide-image__baby {
  grid-area: baby;
  align-self: flex-end;
  justify-self: center;
}

.blik__image__wapper {
  grid-area: wapper;
  align-self: flex-end;
  justify-self: center;
}

.blik__image__eenwieler {
  grid-area: fiets;
  align-self: flex-end;
  justify-self: center;
}

.blik__image__vrouw {
  grid-area: vrouw;
  align-self: flex-end;
  justify-self: center;
}

.blik__image__zeplin {
  grid-area: zeplin;
  align-self: flex-end;
  justify-self: center;
}

.blik__image__vuur {
  grid-area: vuur;
  align-self: flex-end;
  justify-self: center;
}

.blik__image__opELkaar {
  grid-area: opelkaar;
  align-self: flex-end;
  justify-self: center;
}

.blik__image__lOnder {
  grid-area: lOnder;
  z-index: -1;
  justify-self: center;
}

.blik__image__rOnder {
  grid-area: rOnder;
  z-index: -1;
  justify-self: center;
}

/* programma */

.switch-field,
.switch-field-datum {
  font-family: 'Gill sans';
  padding: 1rem;
  overflow: hidden;
  justify-content: center;
  display: flex;
  -webkit-box-shadow:
    inset 0 1px 3px rgba(0, 0, 0, .3),
    0 1px rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
}

.switch-field input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: auto;
  width: auto;
  border: 0;
  overflow: hidden;
}

.switch-field-datum input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: auto;
  width: auto;
  border: 0;
  overflow: hidden;
}

.switch-field-datum label {
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  font-size: 2.4rem;
  text-align: center;
  padding: 1rem;
}

.switch-field label {
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
}

.switch-field input:checked + label {
  background-image: linear-gradient(rgb(203, 103, 153, 0) 45%, var(--rose) 45%);
}

.switch-field-datum input:checked + label {
  background-image: linear-gradient(rgb(203, 103, 153, 0) 45%, var(--rose) 45%);
}

/* footer */

.copyright {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
}

.copyrightEva {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.info__contact__titel,
.info__events__titel,
.info__volgen__titel {
  font-size: 1.8rem;
}

.info__contact,
.info__events,
.info__volgen {
  padding-left: 1rem;
  padding-top: 2.4rem;
}

.partners {
  background-color: var(--white);
  -webkit-box-shadow:
    inset 0 1px 3px rgba(0, 0, 0, .3),
    0 1px rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
  padding-top: 2.4rem;
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: 1% repeat(3, auto) 1%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    '. horeca warande winkel .'
    '. feesten feesten about .';
}

.partners__about {
  grid-area: about;
}

.partners__feesten {
  grid-area: feesten;
}

.partners__winkel {
  grid-area: winkel;
}

.partners__warande {
  grid-area: warande;
}

.partners__horeca {
  grid-area: horeca;
}

.blik__video {
  width: 100%;
  height: 100%;
}
/* breakpoints */

@media only screen and (min-width: 0) {
}

@media only screen and (min-width: 768px) {

  .gratis {
    margin-left: 9rem;
  }

  .wrapper__gratis {
    clip-path: polygon(53% 0, 20% 100%, 100% 100%);
    padding-left: 6rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-top: 4rem;
  }

  .wrapper__date2 {
    background-color: var(--green-bleu);
    clip-path: polygon(48% 100%, 0 0, 100% 0);
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 8rem;
    padding-top: 2rem;
  }

  .main {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      'header header'
      'uitgelicht uitgelicht'
      'wij wij'
      'routes vrijwilligers';
  }

  .site-header__top {
    display: none;
  }

  .site-header__home {
    display: block;
    grid-area: home;
  }

  .site-header__menu {
    background-color: var(--rose);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 40% repeat(4, 1fr);
    grid-template-areas: '. home programma praktisch faq';
    justify-items: center;
    padding: 1rem;
  }

  .site-header__menutekst-actief {
    position: relative;
    color: var(--black);
    text-decoration-line: none;
    background-color: var(--green-bleu);
    border-radius: 25%;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 2rem;
  }

  .site-header__menutekst {
    font-size: 2rem;
  }

  .wrapper {
    grid-area: header;
  }

  .uitgelicht {
    padding-top: 0;
  }

  .routes {
    grid-area: routes;
    padding-left: 2rem;
  }

  .vrijwilligers {
    grid-area: vrijwilligers;
    padding-right: 2rem;
  }

  .uitgelicht {
    grid-area: uitgelicht;
  }

  .wrapper__titel {
    font-size: 6rem;
    padding-left: 5rem;
  }

  .wrapper__date {
    padding-right: 10rem;
  }

  .wrapper__date2,
  .wrapper__gratis {
    font-size: 3rem;
  }

  .uitgelicht__info {
    grid-template-columns: 10% repeat(2, auto) 10%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      '. tile1 tile2 .'
      '. buttn buttn .';
  }

  .wij {
    grid-area: wij;
    padding-left: 10%;
    width: 70rem;
  }

  .wij__titel,
  .routes__titel,
  .uitgelicht__titel,
  .vrijwilligers__titel,
  .blik__titel {
    font-size: 3.6rem;
  }

  .wij__ondertitel,
  .wij__tekst {
    font-size: 2rem;
  }

  .routes__tekst,
  .vrijwilligers__tekst {
    font-size: 2rem;
    width: 90%;
  }

  .wij__link,
  .routes__link,
  .vrijwilligers__link {
    font-size: 1.6rem;
  }

  .uitgelicht__link {
    font-size: 1.8rem;
    font-weight: bold;

    flex-direction: row;
    justify-content: space-around;
  }

  .partners {
    justify-items: center;

    grid-template-columns: 1% repeat(5, auto) 1%;
    grid-template-rows: auto;
    grid-template-areas: '. horeca warande winkel feesten about .';
  }

  .blik__deco {
    display: none;
  }

  .blik__slider {
    padding-left: 0;
    overflow: hidden;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto) 5rem;
    grid-template-areas:
      'zeplin . . . vrouw'
      'opelkaar baby wapper fiets vuur'
      'lOnder baby wapper fiets rOnder';
  }

  .blik__video {
    width: 50%;
    height: 25%;
    position: absolute;
    margin-left: 20rem;
  }

  .info {
    display: grid;
    padding-left: 2rem;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'contact events volgen';
  }

  .info__contact {
    grid-area: contact;
  }

  .info__events {
    grid-area: events;
  }

  .info__volgen {
    grid-area: volgen;
  }

  .info__contact__titel,
  .info__events__titel,
  .info__volgen__titel {
    font-size: 2rem;
  }

  .info__contact__tekst,
  .info__events__tekst,
  .info__volgen__tekst {
    font-size: 1.8rem;
  }

  .copyrights,
  .copyrightEva {
    font-size: 1.4rem;
    padding-top: 2.4rem;
    padding-left: 2rem;
  }

  /* programma */

  .switch-field-datum label {
    font-size: 3.6rem;
  }

  .switch-field label {
    font-size: 2rem;
  }

  .acts__link {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1024px) {

  main {
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    overflow: hidden;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      'header header header'
      'uitgelicht uitgelicht uitgelicht'
      'routes vrijwilligers wij';
  }

  .blik {
    padding-top: 2.4rem;
  }

  .site-header__menu {
    grid-template-columns: 60% repeat(4, 1fr);
  }

  .wrapper__date {
    padding-right: 0;
  }

  .wrapper__titel {
    padding-left: 10rem;
  }

  .wrapper__image {
    height: 60rem;
    object-fit: cover;
  }

  .wrapper__info {
    grid-gap: 10rem;
    padding-right: 10rem;
  }

  .uitgelicht__info {
    display: grid;
    grid-template-columns: 30% 10% 20% 10%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'tile1 editie tile2 tile2'
      'tile1 tile3 tile3 buttn';

    justify-content: center;
  }

  .uitgelicht__titel2 {
    padding-left: 16rem;
    display: block;
  }

  .uitgelicht__titel {
    justify-content: flex-start;
  }

  .uitgelicht__link {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 10%;
    padding: 2rem;
  }

  .uitgelicht__tile-link3 {
    grid-area: tile3;
    display: block;
  }

  .uitgelicht__editie {
    display: none;
  }

  .uitgelicht__editie2 {
    color: var(--light-rose);
    background-color: var(--rose);
    font-weight: bold;
    display: block;
    grid-area: editie;
    font-size: 3.6rem;
  }

  .wij {
    padding-left: 0%;
    width: 40rem;
    align-self: center;
  }

  .wij__tekst {
    width: 34rem;
  }

  .blik__video {
    margin-left: 25rem;
  }

  .routes__tekst,
  .vrijwilligers__tekst {
    width: 100%;
  }

  .copyrights,
  .copyrightEva {
    padding-top: 2.4rem;
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1440px) {

  .site-header__menutekst-actief,
  .site-header__menutekst {
    font-size: 2.4rem;
  }

  .uitgelicht__titel2 {
    padding-left: 21rem;
  }

  .uitgelicht__titel {
    justify-content: flex-start;
    font-size: 4.8rem;
  }

  .routes__titel,
  .vrijwilligers__titel,
  .wij__titel,
  .blik__titel {
    font-size: 4.8rem;
  }

  .wrapper__titel {
    font-size: 7.2rem;
  }

  .wrapper__date2,
  .wrapper__gratis {
    font-size: 3.6rem;
  }

  .routes__tekst,
  .vrijwilligers__tekst {
    width: 40rem;
  }

  .blik__video {
    margin-left: 37rem;
  }

  .info__contact__titel,
  .info__events__titel,
  .info__volgen__titel {
    font-size: 3rem;
  }

  .info__contact__tekst,
  .info__events__tekst,
  .info__volgen__tekst {
    font-size: 2.4rem;
  }

  .copyrights,
  .copyrightEva {
    font-size: 1.4rem;
  }

  .info__events__link {
    font-size: 1.8rem;
  }

  /* programma */

  .switch-field-datum label {
    font-size: 4.8rem;
  }

  .switch-field label {
    font-size: 2.4rem;
  }

  .acts__link {
    font-size: 1.8rem;
  }
}
